*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #FFFFFF;
    height: 92px;
    display: flex;
    gap:346px;
    align-items: center;
}
.logo img{
    height: 60px;
    width: 139px;
    margin-left: 120px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin-right: 32px;

}
.nav-links li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
.nav-button{
    margin-left: 120px;
}
.btn{
    background-color: #469165;
    color: white;
    padding: 12.5px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#banner{
    height: 674px;
    background-image: url("./assets/hero-bg.png");
    position: relative;
}
.banner-content{
    position: absolute;
    top: 200px;
    left: 25%;
    text-align: center;
    height: 168px;
    width: 770px;
}
.banner-content h1{
    font-size: 48px;
    color: #fcfbfb;
   
}
.banner-content p{
    font-size: 20px;
    color: #fcfbfb;
    margin-top: 24px;
    margin-bottom: 40px;
}
.banner-top-btn{
    height: 35px;
    width: 229px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 20px;
}
#notes{
    background-color: #fbfbfb;
    height: 448px;

}

.note-container{
    text-align: center;
    padding-top: 64px;
    margin: 0 auto;
}
.note-container h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.note-container p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 48px;
}
.card-container{
    display: flex;
    gap:24px;
    justify-content: center;
    max-width: 1360px;
    margin: 0 auto;
 
}
.card-info{
    height: 300px;
    width: 332px;
    background-color: white;
}
.icon{
    margin-top: 70px;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    background-color: #F95555;
    align-items: center;
    justify-content: center;
    margin:70px  auto 16px;
    position: relative;
}
.icon img{
    height: 32px;
    width: 32px;

    position:absolute;
    top: 25%;
    left:25%
}
.brain-container{
    margin: 120px;
    display: flex;
    gap:60px;
}
.brain-image {
    max-height: 600px;
    max-width: 600px;
    border: none;
    border-radius: 10px;
}
.brain-content{
    margin-top: 102px;
    max-width: 700px;
}
.brain-content h4{
    font-size: 16px;
    color:#469165;
    margin-bottom: 16px;

}
.brain-content h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
}
.brain-content p{
    font-size: 16px;
    line-height: 20px;
    color:#627382;
    margin-bottom: 40px;

}
.brain-list ul li {
    list-style: none;

}
.list-icon p{
display: inline;
}
#access{
    max-height: 506px;
}
.access-container{
    background-color: #f7f6f2;
    max-height: 384px;
    max-width: 1360px;
   margin-left: 120px;
   margin-right: 120px;
    text-align: center;
    padding: 80px 40px;
}
.access-container h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;

}
.access-container p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}
.access-container button{
    margin-bottom: 16px;
}
#footer{
    height: 348px;
    background-color: #000000;
}
.footer-link{
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 0;
    padding-bottom: 80px;
}
.footer-link img{
    height: 60px;
    width: 139px;
}
.socail-heading{
    color: white;
    font-size: 20px;
    margin-bottom: 16px;


}

.hr{

    height: 1px;
    max-width: 1360px;
    background: #c40c28;
    text-align: center;
    margin: 0 auto;
}
.copy-right{
    text-align: center;
}
.copy-right p{
    color: white;
    font-size: 16px;
    margin-top: 30px;
}