*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #FFFFFF;
    height: 92px;
    display: flex;
    gap:346px;
    align-items: center;
}
.logo img{
    height: 60px;
    width: 139px;
    margin-left: 120px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin-right: 32px;

}
.nav-links li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
.nav-button{
    margin-left: 120px;
}
.btn{
    background-color: #469165;
    color: white;
    padding: 12.5px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#banner{
    height: 674px;
    background-image: url("./assets/hero-bg.png");
    position: relative;
}
.banner-content{
    position: absolute;
    top: 200px;
    left: 25%;
    text-align: center;
    height: 168px;
    width: 770px;
}
.banner-content h1{
    font-size: 48px;
    color: #fcfbfb;
   
}
.banner-content p{
    font-size: 20px;
    color: #fcfbfb;
    margin-top: 24px;
    margin-bottom: 40px;
}
.banner-top-btn{
    height: 35px;
    width: 229px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 20px;
}
